@model IEnumerable<WinterwoodTask.Stock>

@{
    ViewBag.Title = "SIndex";
}

<h2>Stock List</h2>

<p>
    @Html.ActionLink("Back to Batch List", "../Batches/Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fruit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Variety)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fruit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Variety)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
           
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Back to Batch List", "../Batches/Index")
</p>
